.search-container {
    display: flex;
    justify-content: center;
}

.search-form {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    width: 60%;
    margin-right: 15px;
    border: 1px solid #000;
    border-radius: 3px;
}

.btn-search {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    width: 30%;
    height: 50px;
    margin-left: 15px;
}

.search-input, .btn-search {
    font-size: 16px;
}