.twitter-card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    padding: 2px 16px;
}

.twitter-card-container:not(:last-of-type) {
    margin-bottom: 20px;
}

.twitter-card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.retweet-icon {
    width: 20px;
    height: 20px;
}

.left-panel {
    display: flex;
    justify-content: space-between;
}

.focused-text {
    font-weight: bold;
}

.retweet-count {
    font-size: 24px;
    margin-left: 5px;
}