ul {
    padding: 0;
}

.results-container {
    display: flex;
    margin-top: 20px;
}

.flickr-results-container {
    margin-left: 20px;
    width: 70%;
}

.twitter-results-container {
    margin-right: 20px;
    width: 30%;
}

.flickr-results-container, .twitter-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flickr-results-list {
    display: flex;
    flex-wrap: wrap;
}

.flickr-img {
    width: 30%;
    margin: 10px 10px 10px 0;
}

@media screen and (max-width: 960px) {
    .flickr-results-list {
        flex-direction: column;
    }
    
    .flickr-img {
        width: 80%;
    }
}

